@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace,
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.full-screen-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading-text {
  color: white;
  font-size: 20px;
}

.loading-circle {
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.login-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
}

.header{
  max-width: 100vw;
}

.page-component{
  flex-grow: 1;
  display: flex;
  justify-content: center;
  
}

.scheme-card {
  width: 100vw;
}

.profile-card {
  width: 100vw;
}

.footer{
  margin-top: auto;
  max-width: 100vw;
}

.login-component {
  align-self: center;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.index-schemes-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  row-gap: 2rem;
  
}

.index-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 5rem; /* Tailwind's pl-20 equivalent */
  gap: 2rem; /* Tailwind's gap-8 equivalent */
  padding-top: 2.5rem; /* Tailwind's pt-10 equivalent */
  padding-bottom: 2.5rem; /* Tailwind's pb-10 equivalent */
}

.schemes-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: space-between;
  padding-top: 2.5rem;
  row-gap: 2rem;
  
}

.schemes-page-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-left: 5rem; 
  padding-right: 5rem; 
  padding-top: 2.5rem; 
  padding-bottom: 2.5rem; 
}

.lower-half-profile-container {
  display: flex;
  flex-direction: column;
  background-color: #E6EDED;
}

.lower-half-profile-container .columns-container {
  display: flex;
}

.lower-half-profile-container .column-left {
  width: 33.33%; /* 1/3 width */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  margin-top: 1rem; /* Margin top */
  margin-right: 1rem; /* Margin right */
  padding: 1.25rem 1rem; /* Padding */
}

.lower-half-profile-container .column-right {
  width: 66.67%; /* 2/3 width */
  background-color: #f0f0f0; /* Light gray background */
  border-radius: 10px; /* Rounded corners */
  margin-top: 1rem; /* Margin top */
  padding: 1.25rem 1rem; /* Padding */
}

.profile-container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  background-color: #F0F0F0;
  padding-top: 1rem;
  padding-left: 1rem;
  margin-top: 0;
}

.exercise-container {
  width: 100vw;
  background-color: #E6EDED;
}