boto3==1.34.149
fastapi==0.112.2
fuzzywuzzy==0.18.0
langchain==0.2.14
langchain_chroma==0.1.3
langchain_community==0.2.12
langchain_core==0.2.35
langchain_huggingface==0.0.3
pandas
passlib==1.7.4
pydantic==2.8.2
pydantic_settings==2.4.0
python-dotenv==1.0.1
python_jose==3.3.0
Requests==2.32.3
SQLAlchemy==2.0.20
uvicorn
pymysql
python-Levenshtein
python-multipart