fastapi
cryptography

# for ML portion
torch
transformers
openai
sentence-transformers
langchain
langchain-community
chromadb
pymysql
pydantic_settings
python-multipart
pandas
python-dotenv
requests
boto3
passlib
fuzzywuzzy
python-Levenshtein
pyjwt
python-jose