fastapi
cryptography

# For ML portion
torch
transformers
openai
sentence-transformers
langchain==0.2.9 # Specify version to avoid issues with rapid updates
langchain-community
langchain-huggingface  # New package for HuggingFace embeddings
langchain-chroma       # New package for Chroma vectorstore
chromadb
pymysql
pydantic-settings
python-multipart
pandas
python-dotenv
requests
boto3
passlib
fuzzywuzzy
python-Levenshtein
pyjwt
python-jose
